
<div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-300 shadow-lg rounded-lg">
            <thead class="bg-blue-600 text-white">
                <tr>
                    <th class="p-3 text-left">Nombre Superhéroe</th>
                    <th class="p-3 text-left">Nombre Real</th>
                    <th class="p-3 text-left">Edad</th>
                    <th class="p-3 text-left">Planeta Origen</th>
                    <th class="p-3 text-left">Debilidad</th>
                    <th class="p-3 text-left">Poderes</th>
                    <th class="p-3 text-left">Aliados</th>
                    <th class="p-3 text-left">Enemigos</th>
                    <th class="p-3 text-left">Creador</th>
                    <th class="p-3 text-left">Actualizar</th>
                    <th class="p-3 text-left">Eliminar</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <% superheroes.forEach(superheroe => { %>
                <tr class="border-b hover:bg-gray-200 transition">
                    <td class="p-3"><%= superheroe.nombreSuperHeroe %></td>
                    <td class="p-3"><%= superheroe.nombreReal %></td>
                    <td class="p-3"><%= superheroe.edad %></td>
                    <td class="p-3"><%= superheroe.planetaOrigen %></td>
                    <td class="p-3"><%= superheroe.debilidad %></td>
                    <td class="p-3">[<%= superheroe.poderes %>]</td>
                    <td class="p-3">[<%= superheroe.aliados %>]</td>
                    <td class="p-3">[<%= superheroe.enemigos %>]</td>
                    <td class="p-3"><%= superheroe.creador %></td>
                    <td class="p-3">
                        <form action="http://localhost:3000/api/formularioActualizarSuperheroe" method="post">
                            <input type="hidden" name="_id" value="<%= superheroe._id %>">
                            <input type="hidden" name="nombreSuperHeroe" value="<%= superheroe.nombreSuperHeroe %>">
                            <input type="hidden" name="nombreReal" value="<%= superheroe.nombreReal%>">
                            <input type="hidden" name="edad" value="<%= superheroe.edad %>">
                            <input type="hidden" name="planetaOrigen" value="<%= superheroe.planetaOrigen %>">
                            <input type="hidden" name="debilidad" value="<%= superheroe.debilidad %>">
                            <input type="hidden" name="poderes" value="<%= superheroe.poderes %>">
                            <input type="hidden" name="aliados" value="<%= superheroe.aliados %>">
                            <input type="hidden" name="enemigos" value="<%= superheroe.enemigos %>">
                            <input type="hidden" name="creador" value="<%= superheroe.creador %>">
                            <button type="submit" class="btn-actualizar">Actualizar</button>
                        </form>
                    </td>
                    <td class="p-3">
                        <form action="http://localhost:3000/api/alertaEliminacionSuperheroe" method="post">
                            <input type="hidden" name="_id" value="<%= superheroe._id %>">
                            <input type="hidden" name="nombreSuperHeroe" value="<%= superheroe.nombreSuperHeroe %>">
                            <button type="submit" class="btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
</div>


